body {
    background-image: url(assets/concrete_seamless.png)
}

.header {
    background-color: #ffffff;
    height: 83px;
    width: 100%;
    border-bottom: 2px solid #b8a9a8;
    
}

#navbar {
    width: 25%;
    margin-left: 72%;
    margin-top: 1%;
    position: fixed;
    z-index: 1;

}


#title {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 249px;
    height: 80px;
    position: relative;
    left: 119px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif; 

}


h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.container {
    background-color: #ffffff;
    width: 960px;
    position: relative;
    margin: 0 auto;
    height: 70%;
    padding: 30px;
    border: .05px solid  #c6caca;
    margin-bottom: 50px;

}


#contactbox {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: 87%;
    min-width: 300px;
    height: 70%;
    padding: 30px;
    border: .05px solid #c6caca;
    margin-bottom: 50px;
}

  #textarea {
    width: 100%;
    min-width: 200px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    }

    #textarea2 {
        width: 100%;
        min-width: 200px;
        min-height: 150px;
        max-height: 250px;
        }


.items {
    background-color: #ffffff;
    width: 70%;
    position: relative;
    margin: 0 auto;
    height: 90%;
    padding: 5%;
    border: .05px solid #c6caca;
    margin-bottom: 70px;
    min-width: 400px;
}

.item1 {
    width: 94%;
    position: relative;
    margin: 0 auto;
    height: 92%;
    min-width: 200px;
    max-width: 200px;
}

.bottomline {

    border-bottom: 2px solid  #c6caca;
    padding: 10px;
}

.biopic {
    float: left;
    width: 25%;
    min-height: 30%;
    margin: 10px;
}


.nametag {
    
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    position: relative;
    bottom: 49px;
}

.text1 {
    float:left;
    text-align: justify;
    color: #99908d;
    margin: 5px;  
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
}

.text2 {
    clear:both;
    text-align: justify;
    color: #99908d;
    margin: 10px;  
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    clear:both;
    overflow: hidden; 
    width: 100%;
    background-color: #666666;
    height: 65px;
    text-align: center;
    color: darkgrey;
    border-top: 5px solid #4aaaa5;;
    font-size: 10px;

}

i:link {
    color: rgb(4, 56, 124); 
    background-color: transparent; 
    text-decoration: none;
  }

input {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 15px;
}
